<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>The @nonymous Social Network | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" media="screen" href="/static/screen.css" type="text/css"/>
    <link rel="stylesheet" media="print" href="/static/print.css" type="text/css"/>
    <link rel="stylesheet" media="screen" href="/static/asn.css" type="text/css"/>
    <link rel="stylesheet" href="/static/jquery-ui-1.8.6.custom.css" media="all" type="text/css">
    <script src="/static/jquery.js" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>

    <script type="text/javascript">
	$(function() {
	  $("#accordion").accordion();
	});
    </script>
    <div id="orangebar">
    </div>
    <div class="container">
      <div class="span-24 round" id="header">
        <h1><a href="/" ><img src="/static/logo.png" alt="logo"/></a></h1>
        <ul>
          {% if admin %}<li><a href="/student/list">Students</a></li>{% endif %}
          <li><a href="/class/list">Classes</a></li>
          <li><a href="/book/list">Books</a></li>
          <li><a href="/paper/list">Papers</a></li>
	  <li><a href="/internship/list">Internships</a></li>
          <li><a href="/place/list">Places</a></li>
          <li><a href="/game/list">Games</a></li>
        </ul>
      </div>
        <div class="span-4 round" id="sidecol">
          <ul class="navigation">
	  <div ALIGN='left'>
	       {% if username %}
	          <li><Small><Strong>Logged in as : </Strong></Small></li>
	          <li><Small>{{ username }}</Small></li>
	          <p></p>
                  <hr/>
	       {% endif %}
          </div>
            <li><a href="/" class="round">Home</a></li>
            
            {% if username %}
            <li><a href="/profile" class="round">Profile</a></li>
            <li><a href="/logout" class="round">Logout</a></li>
            {% else %}
            <li><a href="/login" class="round">Login</a></li>
            <li><a href="/signup" class="round">Sign Up</a></li>
            {% endif %}
            
            {% if admin %}
            <hr/>
            <li><a href="/test" class="round">Run Tests</a></li>
            <li><a href="/import" class="round">Import</a></li>
            <li><a href="/export" class="round">Export</a></li>
            <li><a href="/dbclear" class="round">Clear Data</a></li>
            <li><a href="/_ah/admin" class="round">Console</a></li>
            <hr/>
            {% endif %}
            
            <li><a href="/about" class="round">About</a></li>
            <li><a href="/help" class="round">Help</a></li>
          </ul>
        </div>
      <div class="span-15 round" id="content">
        {% block content %}
          This will be replaced
        {% endblock %}
      </div>
      <div class="span-4 round last" id="sidecol">
        <div id="accordion">
	  <h3><a href="#">Recent Classes</a></h3>
	  <div>
            <table>
              {%for class in recentClasses%}
	        <tr><td><a href="/class/view?id={{class.key.id}}">{{class.course_name}}</a></td></tr>
              {%endfor%}
            </table>
          </div>
	  <h3><a href="#">Recent Books</a></h3>
	  <div>
	    <table>
	      {%for book in recentBooks%}
	        <tr><td><a href="/book/view?id={{book.key.id}}">{{book.title}}</td></tr>
              {%endfor%}
	    </table>
	  </div>
	  <h3><a href="#">Recent Papers</a></h3>
	  <div>
	    <table>
	      {%for paper in recentPapers%}
	        <tr><td><a href="/paper/view?id={{paper.key.id}}">{{paper.title}}</a></td></tr>
              {%endfor%}
	    </table>
	  </div>
	  <h3><a href="#">Recent Internships</a></h3>
	  <div>
	    <table>
	      {%for internship in recentInternships%}
	        <tr><td><a href="/internship/view?id={{internship.key.id}}">{{internship.place_name}}</a></td></tr>
              {%endfor%}
	    </table>
	  </div>
          <h3><a href="#">Recent Places</a></h3>
	  <div>
	    <table>
	      {%for place in recentPlaces%}
	        <tr><td><a href="/place/view?id={{place.key.id}}">{{place.place_name}}</a></td></tr>
              {%endfor%}
	    </table>
	  </div>
          
          <h3><a href="#">Recent Games</a></h3>
	  <div>
	    <table>
	      {%for game in recentGames%}
	        <tr><td><a href="/game/view?id={{game.key.id}}">{{game.title}}</a></td></tr>
              {%endfor%}
	    </table>
	  </div>
        </div>
      </div>
    <div class="span-23 last round" id="footer"> 
        <ul class="footer_nav"> 
          <li>All rights reserved<a href="/about">Ca$h Money Software</a></li> 
        </ul>
        <ul class="footer_nav">
          <li>Ca$h Money Software is:</li>
          <li><strong>Shanky Balani,</strong></li>
          <li><strong>Ben Kornfuehrer,</strong></li>
          <li><strong>Sang (Josh) Yun,</strong></li>
          <li><strong>Brian Burns and</strong></li>
          <li><strong>Jonathan Grimes</strong></li>
        </ul>
    </div>
    </div>
  </body>
</html>

