{% extends "_base.html" %}
{% block title %}Help{% endblock %}
{% block content %}

<h2>Help and Support</h2>
<p>Well, you're here... so something must have gone wrong.  Right now we are still building the site, and there may be some problems here and there, so please bear with us. </p>

<p>To test out the user functionality of the site, login with your userid and password as given in your XML instance. </p>
<p>To test out the administrator functionality of the site, login with username <b>admin000</b> and password <b>admin</b>. You will also be a student user. </p>

<!--
<p>Below is a list of common things that might be going wrong and a quick fix if one exists.</p>
<h3>FAQ</h3>
<ul>
  <li>
    <h4>I have a student ID and password but when I try to login it fails...</h4>
    <p>We are still working on this but it will be implemented momentarily</p>
  </li>
</ul>
-->


{% endblock %}
