<html>
  <body>
    <h1>Import XML</h1>
    
    {% if error %}
      <p>{{ error }}</p>
    {% else %}
    
    <p>Select an XML file and click Import.</p>
    <!-- the important part here is the enctype - the file gets transmitted as a string, the same as the textarea -->
    <form method="post" enctype='multipart/form-data' action='/import'>
    <input type="file" name="xml-string" size="90"/><br/>
    <input value="Import" type="submit" />
    </form>

<br/>

    <p>Or paste your XML as text into the text box below, and click Import.</p>
    <form method="post" action="/import">
      <table>
      <tr><textarea name="xml-string" rows="20" cols="90"></textarea><br /></tr>
      </table>
      <input value="Import" type="submit" />
    </form>

    {% endif %}
  </body>
</html>
