{% extends "_base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

  {% if username %}
  <h2>Welcome {{username}}!</h2>
  {% else %}
  <h2>Welcome to the @nonymous Social Network</h2>
  {% endif %}
  
  <p>This site is dedicated to the betterment of University of Texas students by providing a quick and easy way to rate classes, books, papers and places, and see the aggregate scores of each, while maintaining complete anonymity and thus ensuring accurate scores.</p>

  {% if not username %}
    <a class="signup_button round" href="/signup">Sign Up!</a>
  {% endif %}

  <div style="text-align: center;">
      <p><strong<Or...Click on the navgiation bar above to browse the current scores.</strong></p>
  </div>
  
{% endblock %}

