{% extends "_base.html" %}
{% block scripts %}
<script src="static/jquery.cookie.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

  <h2>{{username}}'s Profile</h2>
  <p align="right"><a href="/changePassword">Change Password</a></p>
  <!--<p>{{student_id}}</p>-->
  

	<script type="text/javascript">
	$(function() {
		$( "#tabs" ).tabs({cookie:{expires:30}});
	});
	</script>


	<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Classes</a></li>
		<li><a href="#tabs-2">Books</a></li>
		<li><a href="#tabs-3">Papers</a></li>
		<li><a href="#tabs-4">Internships</a></li>
		<li><a href="#tabs-5">Places</a></li>
		<li><a href="#tabs-6">Games</a></li>
	</ul>
	<div id="tabs-1">
		<table>
		  <thead>
		    <th>Course Number</th>
		    <th>Course Name</th>
		    <th>Instructor</th>
		    <th>Rating</th>
		    <th>Grade</th>
		    <th>Comment</th>
            <th/>
            <th/>
		  </thead>
		  <tbody>

		  {%for sclass in sclasses%}
		    <tr><td><a href="/class/view?id={{sclass.class_.key.id}}">{{sclass.class_.course_num}}</a></td>
		    <td>{{sclass.class_.course_name}}</td>
		    <td>{{sclass.class_.instructor}}</td>
		    <td>{{sclass.rating}}</td>
		    <td>{{sclass.grade}}</td>
		    <td>{{sclass.comment}}</td>
            <td><a href="/class/editLink?link_id={{sclass.key.id}}">Edit</a></td>
            <td><a href="/link/delete?typename=StudentClass&link_id={{sclass.key.id}}">Delete</a></td>
		    </tr>
		  {%endfor%}
		</table>
		{%if username %}<p><a href="/class/list">View/rate other classes</a><p>{% endif %}		
	</div>
	<div id="tabs-2">
		<table>
		  <thead>
		    <th>Title</th>
		    <th>Rating</th>
		    <th>Comment</th>
            <th/>
            <th/>
		  </thead>
		  <tbody>

		  {%for sbook in sbooks%}
		    <tr><td><a href="/book/view?id={{sbook.book.key.id}}">{{sbook.book.title}}</a></td>
		    <td>{{sbook.rating}}</td>
		    <td>{{sbook.comment}}</td>
            <td><a href="/book/editLink?link_id={{sbook.key.id}}">Edit</a></td>
            <td><a href="/link/delete?typename=StudentBook&link_id={{sbook.key.id}}">Delete</a></td>
		    </tr>
		  {%endfor%}
		</table>
		{%if username %}<p><a href="/book/list">View/rate other books</a><p>{% endif %}	
	</div>
	<div id="tabs-3">
	<table>
		  <thead>
		    <th>Paper Type</th>
		    <th>Title</th>
		    <th>Author</th>
		    <th>Rating</th>
		    <th>Comment</th>
            <th/>
            <th/>
		  </thead>
		  <tbody>

		  {%for spaper in spapers%}
		    <tr><td>{{spaper.paper.paper_category}}</td>
		    <td><a href="/paper/view?id={{spaper.paper.key.id}}">{{spaper.paper.title}}</a></td>
		    <td>{{spaper.paper.author}}</td>
		    <td>{{spaper.rating}}</td>
		    <td>{{spaper.comment}}</td>
            <td><a href="/paper/editLink?link_id={{spaper.key.id}}">Edit</a></td>
            <td><a href="/link/delete?typename=StudentPaper&link_id={{spaper.key.id}}">Delete</a></td>
		    </tr>
		  {%endfor%}
		</table>
		{%if username %}<p><a href="/paper/list">View/rate other papers</a><p>{% endif %}	
	</div>
	<div id="tabs-4">
	<table>
		  <thead>
		    <th>Place Name</th>
		    <th>Location</th>
		    <th>Rating</th>
		    <th>Comment</th>
            <th/>
            <th/>
		  </thead>
		  <tbody>

		  {%for sinternship in sinternships%}
		    <tr><td><a href="/internship/view?id={{sinternship.internship.key.id}}">{{sinternship.internship.place_name}}</a></td>
		    <td>{{sinternship.internship.location}}</td>
		    <td>{{sinternship.rating}}</td>
		    <td>{{sinternship.comment}}</td>
            <td><a href="/internship/editLink?link_id={{sinternship.key.id}}">Edit</a></td>
            <td><a href="/link/delete?typename=StudentInternship&link_id={{sinternship.key.id}}">Delete</a></td>
		    </tr>
		  {%endfor%}
		</table>
		{%if username %}<p><a href="/internship/list">View/rate other internships</a><p>{% endif %}	
	</div>
	<div id="tabs-5">
	<table>
		  <thead>
		    <th>Place Type</th>
		    <th>Place Name</th>
		    <th>Location</th>
		    <th>Rating</th>
		    <th>Comment</th>
            <th/>
            <th/>
		  </thead>
		  <tbody>

		  {%for splace in splaces%}
		    <tr>
		    <td>{{splace.place.get_pretty_place_name}}</td>
		    <td><a href="/place/view?id={{splace.place.key.id}}">{{splace.place.place_name}}</a></td>
		    <td>{{splace.place.location}}</td>
		    <td>{{splace.comment}}</td>
		    <td>{{splace.rating}}</td>
            <td><a href="/place/editLink?link_id={{splace.key.id}}">Edit</a></td>
            <td><a href="/link/delete?typename=StudentPlace&link_id={{splace.key.id}}">Delete</a></td>
		    </tr>
		  {%endfor%}
		</table>
		{%if username %}<p><a href="/place/list">View/rate other places</a><p>{% endif %}	
	</div>
	<div id="tabs-6">
	<table>
	<thead>
		    <th>Operating System</th>
		    <th>Title</th>
		    <th>Rating</th>
		    <th>Comment</th>
            <th/>
            <th/>
		  </thead>
		  <tbody>

		  {%for sgame in sgames%}
		    <tr><td>{{sgame.game.os}}</a></td>
		    <td><a href="/game/view?id={{sgame.game.key.id}}">{{sgame.game.title}}</a></td>
		    <td>{{sgame.rating}}</td>
		    <td>{{sgame.comment}}</td>
            <td><a href="/game/editLink?link_id={{sgame.key.id}}">Edit</a></td>
            <td><a href="/link/delete?typename=StudentGame&link_id={{sgame.key.id}}">Delete</a></td>
		    </tr>
		  {%endfor%}
		</table>
		{%if username %}<p><a href="/game/list">View/rate other games</a><p>{% endif %}	
	</div>
</div>




{% endblock %}
