{% extends "../_base.html" %}
{% block content %}

	<h2>Are you sure you want to delete this class?</h2>
        <form method="post" action="/class/delete">
	<table>
		<tr><td>Unique = {{ cl.unique}}</td></tr>
		<tr><td>Course Number = {{ cl.course_num}}</td></tr>
		<tr><td>Semester = {{ cl.semester}}</td></tr>
		<tr><td>Instructor = {{ cl.instructor}}</td></tr>
		<tr><td>Course Name = {{ cl.course_name}}</td></tr>
	</table>
	<input type="hidden" name="_id" value="{{ id }}"/>
	<input type="submit" value="Yes"/></form>
	<form method="get" action="/class/list"><input type="submit" value = "No"></form>

{% endblock %}
