{% extends "../_base.html" %}
{% block content %}
<h2>Current Classes</h2>
<table>
  <thead>
    <tr>
      <th>Course Num</th>
      <th>Course Name</th>
      <th>Instructor</th>
      <th>Rating</th>
      <th>Count</th>
      <th></th>
    </tr>
  </thead>
  {% for class in classes %}
    <tr>
      <td>{{class.course_num}}</td>
      <td>{{class.course_name}}</td>
      <td>{{class.instructor}}</td>
      <td>{{class.ratingAvg}}</td>
      <td>{{class.refCount}}</td>
      <td>
        <a href='/class/view?id={{class.key.id}}'>View{%if username%}/Rate{%endif%}</a>
        {% if admin %}
          | <a href='/class/edit?id={{class.key.id}}'>Edit</a>
          | <a href='/class/delete?id={{class.key.id}}'>Delete</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{%if username %}<p><a href="/class/add">Add a Class</a><p>{% endif %}
{% endblock %}
