{% extends "../_base.html" %}
{% block content %}

<a href="/class/list">Back to class listings</a>

<h2>View Class</h2>
<table>
  <tbody>
  <tr><td>Course number: {{ class.course_num }} </td></tr>
  <tr><td>Course name: {{ class.course_name }} </td></tr>
  <tr><td>Instructor: {{ class.instructor }} </td></tr>
  <tr><td>Average rating: {{ class.ratingAvg }} out of 100 (from {{ class.refCount }} rating(s))</td></tr>
  <tr><td>Average grade: {{ class.gradeAvg }}</td></tr>
  </tbody>
</table>

<table>
  <thead>
    <th>Semester</th>
    <th>Unique</th>
    <th>Rating</th>
    <th>Grade</th>
    <th>Comment</th>
  </thead>
  <tbody>
  {% for link in links %}
    <tr>
      <td>{{ link.semester }} </td>
      <td>{{ link.unique }} </td>
      <td>{{ link.rating }}</td>
      <td>{{ link.grade }}</td>
      <td>{{ link.comment|escape }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if username %}
<div class="rating">
  <h3>Add your rating and comments for this class</h3>
  <form method="post" action="/class/view">
    <table>
      {{ link_form.as_table }}
    </table>
    <input type="submit" value="Add Rating/Comment"/>
    <input type="hidden" name="_id" value="{{id}}"/>
  </form>
</div>
{% endif %}
{% endblock %}
