<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>The @nonymous Social Network | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" media="screen" href="/static/screen.css" type="text/css"/>
    <link rel="stylesheet" media="print" href="/static/print.css" type="text/css"/>
    <link rel="stylesheet" media="screen" href="/static/asn.css" type="text/css"/>
    <link rel="stylesheet" href="/static/jquery-ui-1.8.6.custom.css" media="all" type="text/css">
    <script src="static/jquery.js" type="text/javascript"></script>
    <script src="static/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>

  </head>
  <body>

    <script type="text/javascript">
	$(function() {
	  $("#accordion").accordion();
	});
    </script>
    <div id="orangebar">
    </div>
    <div class="container">
      <div class="span-24 round" id="header">
        <h1><a href="/" >@SN</a></h1>
      </div>
        <div class="span-4 round" id="sidecol">
          <ul class="navigation">
            <li><a href="/" class="round">Home</a></li>
            
            {% if username %}
            <li><a href="/profile" class="round">Profile</a></li>
            <li><a href="/logout" class="round">Logout</a></li>
            {% else %}
            <li><a href="/login" class="round">Login</a></li>
            {% endif %}
            
            {% if admin %}
            <li><a href="/test" class="round">Run Tests</a></li>
            <li><a href="/import" class="round">Import</a></li>
            <li><a href="/export" class="round">Export</a></li>
            <li><a href="/dbclear" class="round">Clear Data</a></li>
            {% endif %}
            
            <li><a href="#" class="round">About</a></li>
            <li><a href="#" class="round">Help</a></li>
          </ul>
        </div>
      <div class="span-15 round" id="content">
        {% block content %}
          This will be replaced
        {% endblock %}
      </div>
      <div class="span-4 round last" id="sidecol">
        <div id="accordion">
	  <h3><a href="#">Recent Classes</a></h3>
	  <div>
            <table>
              {%for class in recentClasses%}
	        <tr><td>{{class.course_name}}</td></tr>
              {%endfor%}
            </table>
          </div>
	  <h3><a href="#">Recent Papers</a></h3>
	  <div>
	    <table>
	      {%for paper in recentPapers%}
	        <tr><td>{{paper.title}}</td></tr>
              {%endfor%}
	    </table>
	  </div>
          <h3><a href="#">Recent Books</a></h3>
	  <div>
	    <table>
	      {%for book in recentBooks%}
	        <tr><td>{{book.title}}</td></tr>
              {%endfor%}
	    </table>
	  </div>
          <h3><a href="#">Recent Places</a></h3>
	  <div>
	    <table>
	      {%for paper in recentPapers%}
	        <tr><td>{{paper.title}}</td></tr>
              {%endfor%}
	    </table>
	  </div>
          <h3><a href="#">Recent Internships</a></h3>
	  <div>
	    <table>
	      {%for internship in recentInternships%}
	        <tr><td>{{internship.place_name}}</td></tr>
              {%endfor%}
	    </table>
	  </div>
          <h3><a href="#">Recent Games</a></h3>
	  <div>
	    <table>
	      {%for game in recentGames%}
	        <tr><td>{{game.title}}</td></tr>
              {%endfor%}
	    </table>
	  </div>
        </div>
      </div>
    </div>
  </body>
</html>

