{% extends "../_base.html" %}
{% block content %}
<h2>Current Papers</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  {% for paper in papers %}
    <tr>
      <td>{{paper.title}}</td>
      <td>{{paper.author}}</td>
      <td>{{paper.paper_category}}</td>
      <td><a href='/paper/view?id={{paper.key.id}}'>View</a>
          {% if username %} | <a href='/paper/edit?id={{paper.key.id}}'>Edit</a> |
          <a href='/paper/delete?id={{paper.key.id}}'>Delete</a>{% endif %}</td>
    </tr>
  {% endfor %}
</table>
{% if username %}<p><a href="/paper/add">Add a Paper</a><p>{% endif %}
{% endblock %}
