{% extends "../_base.html" %}
{% block content %}
<h2>Current Games</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Operating System</th>
      <th>Rating</th>
      <th>Ratings</th>
      <th></th>
    </tr>
  </thead>
  {% for game in games %}
    <tr>
      <td>{{game.title}}</td>
      <td>{{game.os}}</td>
      <td>{{game.ratingAvg}}</td>
      <td>{{game.refCount}}</td>
      <td>
          <a href='/game/view?id={{game.key.id}}'>View</a>
          {% if admin %}
            | <a href='/game/edit?id={{game.key.id}}'>Edit</a>
            | <a href='/game/delete?id={{game.key.id}}'>Delete</a>
          {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% if username %}
<p><a href="/game/add">Add a Game</a><p>
{% endif %}
{% endblock %}
