{% extends "../_base.html" %}
{% block content %}

{% if error %}
<div class="error">
{{ error }}
</div>
{% endif %}

<a href="/profile">Back to profile</a>

<h2>Edit Rating</h2>

<table>
  <tbody>
  <tr><td>Place type: {{ place.get_pretty_place_name }} </td></tr>
  <tr><td>Place name: {{ place.place_name }} </td></tr>
  <tr><td>Location: {{ place.location }} </td></tr>
  <tr><td>Semester: {{ place.semester }} </td></tr>
  <tr><td>Average rating: {{ place.ratingAvg }} out of 100 (from {{ place.refCount }} rating(s))</td></tr>
  </tbody>
</table>


<div class="rating">

<h3>Edit your rating and comments for this place</h3>

<form method="post" action="/place/editLink">
  <table>
    {{ link_form.as_table }}
  </table>
  <input type="submit" value="Edit Rating/Comment"/>
  <input type="hidden" name="link_id" value="{{ link_id }}"/>
</form>

</div>

<!--
  <a href="/place/delete?id={{ place.key.id }}">Delete</a>
-->

        
{% endblock %}
