{% extends "../_base.html" %}
{% block content %}
<h2>Current Places</h2>
<table>
  <thead>
    <tr>
      <th>Place Type</th>
      <th>Place Name</th>
      <th>Location</th>
      <th>Semester</th>
      <th>Avg Rating</th>
      <th>Count</th>
      <th></th>
    </tr>
  </thead>
  {% for place in places %}
    <tr>
      <td>{{place.get_pretty_place_name}}</td>    
      <td>{{place.place_name}}</td>
      <td>{{place.location}}</td>
      <td>{{place.semester}}</td>
      <td>{{place.ratingAvg}}</td>
      <td>{{place.refCount}}</td>
      <td>
          <a href="/place/view?id={{ place.key.id }}">View{%if username%}/Rate{%endif%}</a>
          {% if admin %}|
          <a href='/place/edit?id={{ place.key.id }}'>Edit</a> |
          <a href='/place/delete?id={{ place.key.id }}'>Delete</a>
          {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% if username %}
<p><a href="/place/add">Add a Place</a><p>
{% endif %}
{% endblock %}
