{% extends "../_base.html" %}
{% block content %}
<h2>Current Classes</h2>
<table>
  <thead>
    <tr>
      <th>Unique</th>
      <th>Course Num</th>
      <th>Semester</th>
      <th>Instructor</th>
      <th>Course Name</th>
      <th></th>
    </tr>
  </thead>
  {% for class in classes %}
    <tr>
      <td>{{class.unique}}</td>
      <td>{{class.course_num}}</td>
      <td>{{class.semester}}</td>
      <td>{{class.instructor}}</td>
      <td>{{class.course_name}}</td>
      <td><a href='/class/edit?id={{class.key.id}}'>View</a>
          {% if username %}| <a href='/class/edit?id={{class.key.id}}'>Edit</a> |
          <a href='/class/delete?id={{class.key.id}}'>Delete</a>{% endif %}</td>
    </tr>
  {% endfor %}
</table>
{%if username %}<p><a href="/class/add">Add a Class</a><p>{% endif %}
{% endblock %}
