{% extends "../_base.html" %}
{% block content %}
<h2>Current Games</h2>
<table>
  <thead>
    <tr>
      <th>Operating System</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  {% for game in games %}
    <tr>
      <td>{{game.os}}</td>
      <td>{{game.title}}</td>
      <td>
          <a href='/game/view?id={{game.key.id}}'>View</a> |
          <a href='/game/edit?id={{game.key.id}}'>Edit</a> |
          <a href='/game/delete?id={{game.key.id}}'>Delete</a></td>
    </tr>
  {% endfor %}
</table>
<p><a href="/game/add">Add a Game</a><p>
{% endblock %}
