{% extends "../_base.html" %}
{% block scripts %}
<script src="/static/jquery.dataTables.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h2>Current Papers</h2>
<table id="data">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Avg Rating</th>
      <th>Count</th>
      <th></th>
    </tr>
  </thead>
  {% for paper in papers %}
    <tr>
      <td>{{paper.title}}</td>
      <td>{{paper.author}}</td>
      <td>{{paper.paper_category}}</td>
      <td>{{paper.ratingAvg}}</td>
      <td>{{paper.refCount}}</td>
      <td>
        <a href='/paper/view?id={{paper.key.id}}'>View{%if username%}/Rate{%endif%}</a>
        {% if admin %}
          | <a href='/paper/edit?id={{paper.key.id}}'>Edit</a>
          | <a href='/paper/delete?id={{paper.key.id}}'>Delete</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
<script type="text/javascript">
$(function() {
  $("#data").dataTable({ "sPaginationType" : "full_numbers"});
});
</script>
{% if username %}<a class="add_button round" href="/paper/add">Add a Paper</a>{% endif %}
{% endblock %}
