{% extends "../_base.html" %}
{% block content %}

<a href="/internship/list">Back to internship listings</a>

{% if error %}
<div class="error">
{{ error }}
</div>
{% endif %}

<h2>Please complete the following form to {%if id%}edit{%else%}add{%endif%} an internship.</h2>

<form method="post" action={%if id%}"/internship/edit"{%else%}"/internship/add"{%endif%} >
  <table>
  {{ form.as_table }}
  </table>
  <input type="hidden" name="id" value="{{ id }}"/>
  <input type="submit" value="{%if id%}Edit{%else%}Add{%endif%} Internship"/>
</form>

{% endblock %}


