{% extends "../_base.html" %}
{% block scripts %}
<script src="/static/jquery.dataTables.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h2>Current Internships</h2>
<table id="data">
  <thead>
    <tr>
      <th>Place Name</th>
      <th>Location</th>
      <th>Semester</th>
      <th>Avg Rating</th>
      <th>Count</th>
      <th></th>
    </tr>
  </thead>
  {% for internship in internships %}
    <tr>
      <td>{{internship.place_name}}</td>
      <td>{{internship.location}}</td>
      <td>{{internship.semester}}</td>
      <td>{{internship.ratingAvg}}</td>
      <td>{{internship.refCount}}</td>
      <td>
        <a href="/internship/view?id={{ internship.key.id }}">View{%if username%}/Rate{%endif%}</a>
        {% if admin %}
          | <a href='/internship/edit?id={{internship.key.id}}'>Edit</a>
          | <a href='/internship/delete?id={{internship.key.id}}'>Delete</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{%if username %}<p><a href="/internship/add">Add an Internship</a><p>{% endif %}
<script type="text/javascript">
$(function() {
  $("#data").dataTable();
});
</script>
{% endblock %}
