{% extends "../_base.html" %}
{% block content %}

<a href="/book/list">Back to book listings</a>

{% if error %}
<div class="error">
{{ error }}
</div>
{% endif %}

<h3>Please complete the following form to {%if id%}edit{%else%}add{%endif%} a book.</h3>

<form method="post" action={% if id %}"/book/edit"{%else%}"/book/add"{%endif%} >
  <table>
  {{ form.as_table }}
  </table>
  <input type="hidden" name="id" value="{{ id }}"/>
  <input type="submit" value={% if id %}"Edit Book"{%else%}"Add Book"{%endif%}/>
</form>

{% endblock %}

