{% extends "../_base.html" %}
{% block scripts %}
<script src="/static/jquery.dataTables.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

<h2>Current Books</h2>

<table id="data">
  <thead>
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Avg Rating</th>
    <th>Count</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.ratingAvg }}</td>
      <td>{{ book.refCount }}</td>
      <td>
        <a href="/book/view?id={{ book.key.id }}">View{%if username%}/Rate{%endif%}</a>
        {% if admin %}
          | <a href="/book/edit?id={{ book.key.id }}">Edit</a>
          | <a href="/book/delete?id={{ book.key.id }}">Delete</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
$(function() {
  $("#data").dataTable({ "sPaginationType" : "full_numbers"});
});
</script>
{% if username %}<a class="add_button round" href="/book/add">Add a Book</a>{% endif %}
{% endblock %}
