{% extends "../_base.html" %}
{% block content %}
<h2>Are you sure you want to Delete this class?</h2>
<form method="post" action="/place/delete">
	<table>
		<tr><td>Place Type = {{ place.get_pretty_place_name }}</td></tr>
		<tr><td>Place Name = {{ place.place_name }}</td></tr>
		<tr><td>Location = {{ place.location }}</td></tr>
		<tr><td>Semester = {{ place.semester }}</td></tr>	
	</table>
	<input type="hidden" name="_id" value="{{ id }}"/>
	<input type="submit" value="Yes"/>
</form>
<form method="get" action="/place/list"><input type="submit" value = "No"></form>
{% endblock %}
