.container {
  height: 400px;
}

#orangebar {
  position: absolute;
  background: #cc6600;
  width: 100%;
  height: 44px;
  margin: auto;
  z-index: -1;
}

#header h1 {
  width: 200px;
  color: #ffffff;
  float: left;
}

#header ul {
  float: right;
  text-align: center;
  margin-right: 0px;
}

#header li {
  list-style-type: none;
  display: inline-block;
  padding: 13px 0px 0px 0px;
}

#header li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

#header li a:visited {
  color: #ffffff;
}

#header li a:hover {
  text-decoration: underline;
}

#header a {
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  font-size: 1.2em;
}

ul.navigation {
  list-style: none outside none;
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.navigation li {

}

.navigation li a {
  color: #000000;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
}

.navigation li a:hover {
  background: none repeat scroll 0 0 #cc5500;
  color: #FFFFFF;
}

#lower_header {
  padding: 5px;
  border: solid 1px #cc5500;
  margin-bottom: 5px;
  margin-right: 0px;
  text-align: center;
}

#content {
  padding: 5px;
  border: solid 1px #cc5500;
}

#leftcol {
  background: #ccf;
}

#rightcol {
  background: #fcc;
}

#sidecol {
  border: solid 1px #cc5500;
  padding: 5px;
}

#leftcol, #rightcol {
  padding: 5px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ffffff;
  background: #cc5500;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

/* Corner rounding */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#content table {
  border: solid 1px #cc5500;
}

#content thead th {
  background: #cc5500;
  color: #ffffff;
}

#content label {
  font-size: 120%;
}


.rating {
  margin: 5px;
  padding: 5px;
  border: solid 1px #cc5500;
}

#footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px 10px 16px;
  border: solid 1px #cc5500;
}

.footer_nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.footer_nav {
  margin: 0;
}

.footer_nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2 0;
}

.footer_nav li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.footer_nav li:visited {
  color: #000000;
}

.footer_nav li a:hover {
  text-decoration: underline;
}

