.container {
  height: 400px;
}

#orangebar {
  position: absolute;
  background: #cc5500;
  width: 100%;
  height: 44px;
  margin: auto;
  z-index: -1;
}

#header h1 {
  width: 200px;
  color: #ffffff;
}

#header a {
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  font-size: 1.2em;
}

ul.navigation {
  list-style: none outside none;
  vertical-align: baseline;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.navigation li {

}

.navigation li a {
  color: #000000;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
}

.navigation li a:hover {
  background: none repeat scroll 0 0 #cc5500;
  color: #FFFFFF;
}

#content {
  padding: 10px;
  border: solid 1px #cc5500;
}

#leftcol {
  background: #ccf;
}

#rightcol {
  background: #fcc;
}

#sidecol {
  border: solid 1px #cc5500;
}

#leftcol, #rightcol {
  padding: 10px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ffffff;
  background: #cc5500;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

/* Corner rounding */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#content table {
  border: solid 1px #cc5500;
}

#content thead th {
  background: #cc5500;
  color: #ffffff;
}

#content label {
  font-size: 120%;
}
