{% extends "_base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About Us</h2>
<p>This is the true story of five strangers picked to work together on a CS project together.  Watch what happens when people stop being polite...  But seriously, this website was built by five badass dudes in the University of Texas Computer Science department.  They are, in order of their attractiveness:</p>
<ul>
  <li>
    <h4>Shanky Balani</h4>
    <img src="/static/shanky.jpg" alt="Shanky" />
  </li>
  <li>
    <h4>Josh (Sang) Yun</h4>
    <img src="/static/josh.jpg" alt="Josh" />
  </li>
  <li>
    <h4>Brian Burns</h4>
    <img src="/static/brian.jpg" alt="Brian" />
  </li>
  <li>
    <h4>Ben Kornfuerher</h4>
    <img src="/static/ben.jpg" alt="Ben" />
  </li>
  <li>
    <h4>Jonathan Grimes</h4>
    <img src="/static/jon.jpg" alt="Jon" />
  </li>
</ul>
{% endblock %}
