{% extends "_base.html" %}
{% block title %}Help{% endblock %}
{% block content %}
<h2>Help and Support</h2>
<p>Well, you're here...so something must have gone wrong.  Right now we are currently building this site, so there's gonna be some serious problem here and there so bear with us.  Below is a FAQ list of common things that might be going wronf and a quick fix if one exists.</p>
<h3>FAQ</h3>
<ul>
  <li>
    <h4>I have a student ID and password but when I try to login it fails...</h4>
    <p>We are still working on this but it will be implemented momentarily</p>
  </li>
</ul>
{% endblock %}
