{% extends "_base.html" %}
{% block title %}
Books
{% endblock %}
{% block content %}
  <h2>Welcome to the @nonymous Social Network</h2>
  <p>This site is dedicated to betterment of the University of Texas student by providing a qucik and easy way to rate classes, books, papers and places, and see the aggregate scores of each, while maintaing complete anonymity and thus ensuring an accurate score.</p>

  {% if not username %}
    <a class="signup_button round" href="/signup">Sign Up!</a>
  {% endif %}

  <div style="align: center;">
      <p>Or...Click on one of the following to browse the current scores.</p>
      <ul>
        {% if admin %}<li><a href="student/list">Students</a></li>{% endif %}
        <li><a href="class/list">Classes</a></li>
        <li><a href="paper/list">Papers</a></li>
        <li><a href="book/list">Books</a></li>
        <li><a href="place/list">Places</a></li>
        <li><a href="internship/list">Internships</a></li>
        <li><a href="game/list">Games</a></li>
      </ul>
  </div>
{% endblock %}

