{% extends "_base.html" %}
{% block content %}

  <h2>{{username}}</h2>
  <p>{{student_id}}</p>


	<script type="text/javascript">
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>


	<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Classes</a></li>
		<li><a href="#tabs-2">Books</a></li>
		<li><a href="#tabs-3">Papers</a></li>
		<li><a href="#tabs-4">Internships</a></li>
		<li><a href="#tabs-5">Places</a></li>
		<li><a href="#tabs-6">Games</a></li>
	</ul>
	<div id="tabs-1">
		<table>
		  <thead>
		    <th>Course Name</th>
		    <th>Instructor</th>
		    <th>Comment</th>
		    <th>Rating</th>
		  </thead>
		  <tbody>

		  {%for sclass in sclasses%}
		    <tr><td>{{sclass.class_.course_name}}</td>
		    <td>{{sclass.class_.instructor}}</td>
		    <td>{{sclass.comment}}</td>
		    <td>{{sclass.rating}}</td>
		    </tr>
		  {%endfor%}
		</table>
		
	</div>
	<div id="tabs-2">
		<table>
		  <thead>
		    <th>Title</th>
		    <th>Comment</th>
		    <th>Rating</th>
		  </thead>
		  <tbody>

		  {%for sbook in sbooks%}
		    <tr><td>{{sbook.book.title}}</td>
		    <td>{{sbook.comment}}</td>
		    <td>{{sbook.rating}}</td>
		    </tr>
		  {%endfor%}
		</table>
	</div>
	<div id="tabs-3">
		
	</div>
	<div id="tabs-4">
	<table>
		  <thead>
		    <th>Place Name</th>
		    <th>Location</th>
		    <th>Comment</th>
		    <th>Rating</th>
		  </thead>
		  <tbody>

		  {%for sinternship in sinternships%}
		    <tr><td>{{sinternship.internship.place_name}}</td>
		    <tr><td>{{sinternship.internship.location}}</td>
		    <td>{{sinternship.comment}}</td>
		    <td>{{sinternship.rating}}</td>
		    </tr>
		  {%endfor%}
		</table>
		
	</div>
	<div id="tabs-5">
	<table>
		  <thead>
		    <th>Place Type</th>
		    <th>Place Name</th>
		    <th>Location</th>
		    <th>Comment</th>
		    <th>Rating</th>
		  </thead>
		  <tbody>

		  {%for splace in splaces%}
		    <tr><td>{{splace.place.place_type}}</td>
		    <td>{{splace.place.place_name}}</td>
		    <td>{{splace.place.location}}</td>
		    <td>{{splace.comment}}</td>
		    <td>{{splace.rating}}</td>
		    </tr>
		  {%endfor%}
		</table>
		
	</div>
	<div id="tabs-6">
		
	</div>
</div>




{% endblock %}
